# ignore everything in the root (html directory) except the "wp-content" directory.
html/*
!html/wp-content

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
html/wp-content/*
!html/wp-content/mu-plugins/
!html/wp-content/plugins/
!html/wp-content/themes/

# ignore these plugins
html/wp-content/plugins/hello.php

# ignore specific themes
html/wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

#ignore specific files
.bashrc
.cloud-locale-test.skip
.digitalocean_password
docker-compose.yml